<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--微信支付商户号-->
  <partner>1508270991</partner>
  <!--商户支付密钥，进入微信支付【账户设置】【API安全】设置-->
  <key>11112222333344445555666677779999</key>
  <!--AppID(应用ID)-->
  <appid>wx8d4e7949440b3187</appid>
  <!--AppSecret(应用密钥)-->
  <appsecret>ff40ff5ebf56bd815c5842ec43fc1d06</appsecret>
  <!--获取用户OPENID回调地址-->
  <redirect_url>/api/payment/wxapipay/redirect_url.aspx</redirect_url>
  <!--服务器通知的页面文件路径，不允许加?id=123这类自定义参数-->
  <notify_url>/api/payment/wxapipay/notify_url.aspx</notify_url>
</Root>